body {
    margin: 0;
    background: grey;
}

header, main, footer {
    display: flex;
    flex-direction: column;
}

header section:first-child {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header section:last-child {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main section:nth-of-type(1) {
    height: 0vh;
}

main section:nth-of-type(2) {
    height: 75vh;
}

main section:nth-of-type(3) {
    height: 75vh;
}

footer section:nth-of-type(1) {
    height: 10vh;
}

footer section:nth-of-type(2) {
    height: 10vh;
}

footer section:nth-of-type(2) {
    height: 10vh;
}

img {
    height: 50px;
}

h1 {
    font-size: 20px;
}

iframe {
    aspect-ratio: 560/315;
    width: 100%;
}